<div class="container mt-3">
    <div>
        <form [formGroup]="userForm">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                    <div class="danger"
                        *ngIf="(submitted || userForm.get('email').touched) && userForm.get('name').hasError('required')">
                        Name is required
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                    <div class="danger"
                        *ngIf="(submitted || userForm.get('name').touched) && userForm.get('email').hasError('required')">
                        Email is required
                    </div>
                    <div class="danger"
                        *ngIf="(submitted || userForm.get('email').touched) && userForm.get('email').hasError('pattern')">
                        Invalid Email Id
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Phone Number" formControlName="phone">
                    <div class="danger"
                        *ngIf="(submitted || userForm.get('phone').touched) && userForm.get('phone').hasError('required')">
                        Phone Number is required
                    </div>
                </div>
                <div class="col">
                    <!-- <input type="text" class="form-control" placeholder="Date of Birth" formControlName="dob"> -->
                    <input type="text" placeholder="Datepicker"  class="form-control" bsDatepicker
                   formControlName="dob" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }">
                    <div class="danger"
                        *ngIf="(submitted || userForm.get('dob').touched) && userForm.get('dob').hasError('required')">
                        Date of Birth is required
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Address" formControlName="address">
                    <div class="danger"
                        *ngIf="(submitted || userForm.get('address').touched) && userForm.get('address').hasError('required')">
                        Address is required
                    </div>
                </div>
                <div class="col">
                   <button class="btn btn-primary" (click)="addUser()" *ngIf="selectedUser==''">Add New User</button>
                   <button class="btn btn-primary" (click)="updateUser()" *ngIf="selectedUser!==''">Update User</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Address</th>
                <th scope="col" *ngIf="selectedUser==''">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of userData;let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.DOB}}</td>
                <td>{{data.Address}}</td>
                <td *ngIf="selectedUser==''"><div class="d-flex">
                    <button class="btn btn-info" (click)="editUser(data)">Edit</button>
                    <button class="btn btn-danger ml-3" (click)="deleteUser(data.id)">delete</button>
                </div></td>
            </tr>

        </tbody>
    </table>
</div>